/* Write your CSS here */

.login-btn {
    background-color: #fff;
    color: #303150;
    font-family: "Roboto";
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    border-radius: 12px;
}